@import "../../.cache/wal/colors-waybar.css";

* {
	background-image: none;
    font-family: "JetBrainsMono Nerd Font", "Rubik", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window {
	background-color: rgba(0, 0, 0, 0.6);
}

grid {
    /* Center the buttons */
    background-color: transparent;
}

button {
    color: @foreground;
	background-color: @background;
	border: 2px solid @color4;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
    margin: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button:focus, button:active, button:hover {
	background-color: @color4;
    color: @background;
    border-color: @foreground;
	outline-style: none;
    background-size: 40%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

/* Icon overrides using standard wlogout icons */
#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}