@import "../../.cache/wal/colors-waybar.css";

* {
	background-image: none;
}

window {
	background-color: rgba(0, 0, 0, 0.85);
}

button {
    color: @foreground;
	background-color: @background;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: @color4;
	outline-style: none;
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
