* {
    background:     #07080AFF;
    background-alt: #07080AFF;
    foreground:     #e3e0e0FF;
    selected:       #465682FF;
    active:         #465682FF;
    urgent:         #405177FF;
    border-color:   #9e9c9c80;
    separatorcolor: #9e9c9c80;
    bg-transparent: #07080AE6;
    background-color: transparent;
    text-color:       @foreground;
}

window {
    background-color: @bg-transparent;
    border:           2px;
    border-color:     @selected;
    border-radius:    12px;
    padding:          15px;
}

element selected.normal {
    background-color: @selected;
    text-color:       @background;
}
