* {
    background:     #010305FF;
    background-alt: #010305FF;
    foreground:     #e0e8e9FF;
    selected:       #4f7393FF;
    active:         #4f7393FF;
    urgent:         #405c77FF;
    border-color:   #9ca2a380;
    separatorcolor: #9ca2a380;
    bg-transparent: #010305E6;
    background-color: transparent;
    text-color:       @foreground;
}

window {
    background-color: @bg-transparent;
    border:           2px;
    border-color:     @selected;
    border-radius:    12px;
    padding:          15px;
}

element selected.normal {
    background-color: @selected;
    text-color:       @background;
}
