@import "../../.cache/wal/colors-waybar.css";

/* --- Control Center --- */
.control-center {
  background: alpha(@background, 0.9);
  border-radius: 20px 5px 20px 5px; /* Leaf Look */
  border: 2px solid @color4;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  margin: 10px;
  padding: 10px;
}

/* --- Notifications --- */
.notification-content {
  background: @background;
  padding: 15px;
  border-radius: 15px 2px 15px 2px; /* Leaf Look */
  border: 1px solid @color4;
  margin: 5px;
  color: @foreground;
}

.notification-default-action {
  border-radius: 15px 2px 15px 2px;
}

.close-button {
  background: @color1;
  color: @background;
  border-radius: 100%;
  padding: 4px;
  margin: 5px;
}

/* --- Widgets --- */
.widget-title {
  color: @color4;
  background: transparent;
  padding: 10px;
  margin: 5px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: 0.9rem;
  color: @background;
  background: @color4;
  border-radius: 10px 2px 10px 2px;
  padding: 5px 15px;
}

.widget-dnd {
  background: alpha(@color4, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 10px 2px 10px 2px;
  color: @foreground;
}

.widget-mpris {
    color: @foreground;
    background: alpha(@color4, 0.1);
    padding: 15px;
    margin: 10px;
    border-radius: 15px 2px 15px 2px;
}

.widget-mpris-player {
    padding: 5px;
    margin: 5px;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.widget-mpris-subtitle {
    font-size: 0.9rem;
}